<div class='page-center page-down'>
  <dl class="dl-horizontal">
    <dt><strong>Name:</strong></dt>
    <dd><%= @planet.full_name %></dd>

    <dt><strong>Biome:</strong></dt>
    <dd><%= @planet.biome %></dd>

    <dt><strong>Threat Level:</strong></dt>
    <dd><%= @planet.threat_level %></dd>

    <dt><strong>X Coord:</strong></dt>
    <dd><%= @planet.cluster.system.x_coord %></dd>

    <dt><strong>Y Coord:</strong></dt>
    <dd><%= @planet.cluster.system.y_coord %></dd>

    <dt><strong>Description:</strong></dt>
    <dd><%= @planet.description %></dd>
  </dl>

  <% if current_user.present? and @planet.user == current_user %>
  <%= link_to "Edit Planet", edit_planet_path %>
  <% end %>
</div>
