<div class='page-center page-down'>
  <dl class="dl-horizontal">
    <dt><strong>Name:</strong></dt>
    <dd><%= @planet.full_name %></dd>

    <dt><strong>Biome:</strong></dt>
    <dd><%= @planet.biome %></dd>

    <dt><strong>Threat Level:</strong></dt>
    <dd><%= @planet.threat_level %></dd>

    <dt><strong>X Coord:</strong></dt>
    <dd><%= @planet.x_coord %></dd>

    <dt><strong>Y Coord:</strong></dt>
    <dd><%= @planet.y_coord %></dd>

    <dt><strong>Added by:</strong></dt>
    <dd><%= link_to @planet.user.username, @planet.user %></dd>

    <dt><strong>Avg. Rating:</strong></dt>
    <dd><%= @planet.average_score %></dd>

    <dt><strong>Description:</strong></dt>
    <dd><%= @planet.description %></dd>
  </dl>

<% if current_user.present? and @planet.user == current_user %>
<%= link_to "Edit Planet", edit_planet_path %>
<% end %>

<%= form_for [@planet, Rating.new] do |f| %>
  <%= f.hidden_field :score, value: 1 %>
  <%= f.submit 'Rate Up' %>
<% end %>

<%= form_for [@planet, Rating.new] do |f| %>
  <%= f.hidden_field :score, value: -1 %>
  <%= f.submit 'Rate Down' %>
<% end %>
</div>
