<%- model_class = Planet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @planet.cluster.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:biome) %>:</strong></dt>
  <dd><%= @planet.biome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:threat_level) %>:</strong></dt>
  <dd><%= @planet.threat_level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @planet.description %></dd>
  <dt><strong>X Coord:</strong></dt>
  <dd><%= @planet.cluster.system.x_coord %></dd>
  <dt><strong>Y Coord:</strong></dt>
  <dd><%= @planet.cluster.system.y_coord %></dd>
</dl>
<% if user_signed_in? and current_user.username == @planet.username %>
<%= link_to "Edit this Planet", edit_planet_path %>
<% else %>
<p> Login to your account to edit this planet ( if it belongs to you!) </p>
<% end %>
