<%- model_class = Planet -%>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:biome) %></th>
      <th><%= model_class.human_attribute_name(:threat_level) %></th>
      <th>Sector</th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Added By</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>X Coord</th>
      <th>Y Coord</th>
    </tr>
  </thead>
  <tbody>
    <% @planets.each do |planet| %>
      <tr>
        <td><%= link_to planet.full_name, planet_path(planet)  %></td>
        <td><%= planet.biome %></td>
        <td><%= planet.threat_level %></td>
        <td><%= link_to planet.cluster.system.sector.name, sector_path(planet.cluster.system.sector) %></td>
        <td><%= truncate(planet.description, :length => 50) %></td>
        <td><%= planet.user.username %></td>
        <td><%= time_ago_in_words(planet.created_at)  %> ago</td>
        <td><%= link_to planet.cluster.system.x_coord, system_path(planet.cluster.system) %></td>
        <td><%= link_to planet.cluster.system.y_coord, system_path(planet.cluster.system) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>