<div class='header-wrap'>
  <div class='header-text'>
    <h1>Starbound</h1>
    <h2>Planets</h2>
    <%= form_for(:user, :url => session_path(:user))  do |f| %>
      <div>
        <%= f.text_field :username, :autofocus => true, :placeholder => "Username/Email" %>
      </div>
      <div>
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>


      <div><%= f.submit "Sign in" %></div>
    <% end %>
  </div>
</div>

<h2> Last 10 Planets </h2>

<%= render 'last10planets' %>

<%= link_to "View all the Planets",  planets_path, :class => "btn btn-primary" %>
