<% if user_signed_in? %>
<div class="jumbotron">
  <h1> Welcome to Starbound Planets, <%= current_user.username %></h1>
  <p>Use this site to keep track of your favorite planets, moons, and asteroids and share them with the community!  Click the links below to get started adding to the list!</p>
</div>
<% else %>
<div class="jumbotron">
  <h1> Welcome to Starbound Planets</h1>
  <p>Use this site to keep track of your favorite planets, moons, and asteroids and share them with the community!</p>
</div>
<% end %>



<h2> Last 4 Planets </h2>

<%= render 'last4planets' %> 

<button type="button" class="btn btn-primary"><%= link_to "View all the Planets",  planets_path, :class => "btn btn-primary" %></button> <br>

<h2> Last 4 Moons </h2>

<%= render 'last4moons' %> <br>

<button type="button" class="btn btn-primary"><%= link_to "View all the Moons", moons_path, :class => "btn btn-primary" %></button><br>

<h2> Last 4 Asteroid Fields </h2>

<%= render 'last4asteroid_fields' %>

<button type="button" class="btn btn-primary"><%= link_to "View all the Asteroid Fields", asteroid_fields_path, :class => "btn btn-primary" %></button>