<h1> Welcome to Starbound Planets </h1>



<h2> Last 4 Planets </h2>

<%= render 'last4planets' %> 

<%= link_to "View all the Planets",  planets_path %> <br>

<h2> Last 4 Moons </h2>

<%= render 'last4moons' %> <br>

<%= link_to "View all the Moons", moons_path %> <br>

<h2> Last 4 Asteroid Fields </h2>

<%= render 'last4asteroid_fields' %>

<%= link_to "View all the Asteroid Fields", asteroid_fields_path %>