<%= link_to "Add Alpha Planet", '/sector/1/new', :class => "btn btn-primary"  %>
<%= link_to "Add Beta Planet", '/sector/2/new', :class => "btn btn-primary"  %>
<%= link_to "Add Gamma Planet", '/sector/3/new', :class => "btn btn-primary"  %>
<%= link_to "Add Delta Planet", '/sector/4/new', :class => "btn btn-primary"  %>
<%= link_to "Add X Planet", '/sector/5/new', :class => "btn btn-primary"  %><br />

<br />
<h2> Last 4 Planets </h2>

<%= render 'last4planets' %> 

<%= link_to "View all the Planets",  planets_path, :class => "btn btn-primary" %>
