<h1>Add An Asteroid Field</h1>

  <% if @asteroid_field.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@asteroid_field.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
        <% @asteroid_field.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


<%= form_for (@asteroid_field) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :threat_level %>
    <%= f.select :threat_level, SpaceJunk.threat_levels, :include_blank => true %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.hidden_field :cluster_id, value: @cluster.id %>
  <%= f.submit 'Create Asteroid Field' %>
<%- end -%>






